@{
    ViewBag.Title = "ErrorMessage";
}

<h2>訊息摘要：</h2>

<lu>
    <li>使用者：@TempData["User"]</li>
    <li>時間：@TempData["Time"]</li>
    <li>訊息：@TempData["ErrorMessageText"]</li>
    <span>
     
    </span>
</lu>
